{{ 'faq_section.css' | asset_url | stylesheet_tag }}

<div class="faq page-width page-width--narrow">
  {% for block in section.blocks %}
   <div class="tab">
     {%- if block.settings.faq_header -%}
       <h2>{{block.settings.faq_header}}</h2>
         {% continue %}
     {%- endif -%}
     <input type="checkbox" id="tab{{forloop.index}}" class="tab-toggle">
     <label for="tab{{forloop.index}}" class="tab-label">{{block.settings.faq-title}}</label>
     <div class="tab-content">{{block.settings.faq-content}}</div>
   </div>
  {% endfor %}
</div>


{% schema %}
  {
    "name": "FAQ Section",
	"blocks": [
        {
        "type": "separator",
        "name": "Section Heading",
        "settings": [
          {
            "type": "text",
            "id": "faq_header",
            "label": "FAQ Header"
          }
        ]
      },
      {
        "type": "text",
        "name": "FAQ content",
        "settings": [
          {
            "id": "faq-title",
            "type": "text",
            "label": "Faq Title"
          },
            {
            "id": "faq-content",
            "type": "textarea",
            "label": "Faq Content"
          }	
        ]
      }	
   ],
"presets": [
          {
          "category": "FAQ Section",
          "name": "faq content"
          }
	]
  }
{% endschema %}